.navbar{
	background-color: rgba(0,0,0,0.5);
/*	position: fixed;*/
}
  
.bg-dark{
  background: rgba(0,0,0,0.5)!important;
}  
.navbar-toggler{
background-color: rgba(0,0,0,0.5); 
}

.bg-dark.scrolled{
  background: #000!important;
  transition: 0.75 ease;
}	
.nav-link{
	color:white!important	;
}
/*.modal-backdrop{
    height: 100%;
}*/
body.modal-open{
    overflow:scroll;
    padding-right: 0!important;
    position: fixed;
    width: 100%;

}
.modal-backdrop {
    position: relative!important; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
/*.modal-open .navbar-fixed-top{
    overflow-y: scroll;
}*/
.logo{
	height: 40px;
	width: 78px;
	
}
.logo-style{
	font-family: cursive;
    font-size: 25px; 
	color: burlywood;
}

.bgimg1{
	background-image: url('../images/Banner_landing_craft_vintage_desktop.jfif');
	height: 490px;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
	
}
.bgimg3{
		
    width: 100%;
	height: 100%!important;
    background-size: 100% 100%;
   	 margin-top: -23px;
    padding-bottom: 7px;

}

.element{
	height: 170px;
	width: 230px;
	padding: 35px;
}
.fametype{
	margin-left: 0px;
	margin-right: 0px;
	border: 2px
}
.cardbgimg{
	height: 150px;
	width: 300px;
	text-align: center;
	padding-left: 15px;
	margin-left: 15px;
	margin-top: 100px;
}

.bgimg2{
	background-image: url('../images/royal-son-sunglass-sale-banner.jpg');
	background-size: 100% 100%;
	background-attachment:fixed;
	width: 100%;
	height: 100%;
}
.bottom-footer{
	border-top: 1px solid #000;
	padding: 10px;
	margin: 12px;

}
.site-footer{
	background-color: grey;
	color: #000;
	
}
.footer1{
	color: black;
	font-size: 22px;
	 margin: 4px;
    align-content: center;
    font-family: Work sans-serif;
}

.cards-style{
	 margin-right: 44px; 
    margin-left: 0px;
   margin-top: 50px;
    margin-bottom: 16px;
}
h3{
	padding: 3px;
    margin-top: 12px;
    margin-bottom: -26px;

}
h1,h2,h3,h4,h5,h6{
	font-family: raleway;
	 font-weight: bold;
}
.everyone{
    background-color: rgba(208, 203, 203, 0.7);
    color: #250508;
    justify-content: center;
    height:     100%
    width: 100%;
    padding: 1%;
    margin-top: 12%;

}
@media only screen and (max-width: 700px) {
	.everyone{
		  height: auto;
		  margin-top: 0%;
	}
	.bgimg1{
		height: auto;
	}
	.social{
		margin-left: 0px!important;
	}
	.caro-img{
		height: 195px;
	}
.media-mail-style{
	margin-left: 1%;
}
.social {
    font-size: 35px;
    margin-right: 12px!important;
    width: auto!important;
}
.everyone {
    margin-top: 39%;
    margin-bottom: 22%;
    margin-left: 3%;
    margin-right: 3%;
}
.nav-top-margin{
  margin-top: 18%;
}

}
.nav-top-margin{
  margin-top: 4%;
}

.green-batch{
  background-color: green;
    padding: 3px;
    border-radius: 10%;
   
}
.btn-style{
    border: groove;
    font-family: sans-serif;
    color: #fff;
    background-color: #5a191f;
    border-color: #42161a;
  	
    padding-left: 1%;
    padding-right: 1%;
}
.btn-style:hover{
	color: #c7c0c1;
}
/*.main-btn {
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    position: relative;
    font-size: 14px;
    word-spacing: 2px;
    font-weight: 500;
    transform: perspective(1px)translateX(0px);
    transition: all 0.2s ease 0s;
    overflow: hidden;
}*/
.add-buy-style {
    width: 45%;
    padding: 3%;
    margin-bottom: 4%;
    color: #ffeaea;
    background: #000;
}
.add-buy-style : hover{
   
padding: 1%;
background: pink;
}
.owl-caro-style2 {
    width: 70%!important;
    height: 69%;
    padding: 13px;
    margin-left: 15%;
    margin-bottom: 0%;
}
.owl-caro-style{
	width: 70%!important;
    height: 90%;
    padding: 13px;
    margin: 31px;
    margin-left: 16%;
}
.owl-caro-style:hover{
	width: 80%!important;
	height: 100%;
	padding: 10px;
	margin: 25px;

}
.counter-no{
	width: 100%;
	    font-family: Montserrat;
    font-weight: bold;	
}
.counter-text{
	margin-right: 31%;
    color: #5a191f;
    font-family: none;
    font-style: unset;
    font-size: 45px;
    font-weight: 700;

}
.count{
	width:40%;
    border: double;
    border-radius: 36%;
    margin-top: 37px;
    margin-left: 19px;
    background: tan;
    color: #480e0e;
}
.upper-footer{
	width: 100%;
    margin-bottom : 2px;
    font-family: Raleway;
    font-weight: 600; 	
}
a{
 color: black;
 font-family: raleway;

}
a:hover{
	color: brown;
	text-decoration: none;
}
.card-img-style{
	 width: 100%;
    height: 230px;
    padding: 4px;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
}
.card-style{
	    width: 70%;

    margin-left: 20%;
    margin-top: 8%;
    background-color: #d1b898;
}
.card-text-style{
	 font-family: work;
    font-weight: 600;
    color: #3b0d0d;
    font-size: 28px;
    text-align-last: center;
    margin: -6px;
}
.card-hover:hover{
	padding:1px;
	

}
.catagories-style{
	    font-family: none;
    font-weight: 600;
    font-size: 48px;
    padding-top: 27px;
    font-style: unset;
}
.social{
    font-size: 35px;
  margin-right: -63px;

}
.carousel1 { 
width: 100%;
height: 
 } 
 .navbar-transparent.navbar-colored {
    background-color: #fff;
}
.navbar-transparent {
    background-color: transparent;
}
	
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5)!importants;
}
.span{
	color:grey;
	font-size: 12px;
	font-family: raleway;
}
.goToTop{
	    color: #979797;
    cursor: pointer;
    height: 44px;
    position: fixed;
    right: 14px;
    text-align: center;
    width: 44px;
    z-index: 9;
    display: block;
    padding: 8px 0;
}
